
<div class="row">
  <%= f.nested_fields_for :photos, @album.photos.new do |pf| %>
  <div class="col-lg-6">
      <%= pf.file_field :image %>
  </div>
  <div class="col-lg-6">
    <%= pf.remove_nested_fields_link "Delete photo" if pf.object.persisted? %>
  </div>
  <% end %>
</div>

